
<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>
<script type="text/javascript">
  window.splash1 = "<%= asset_path('splash1.png') %>";
  window.splash2 = "<%= asset_path('splash2.png') %>";
</script>