.eachbill {
    max-width: 520px;
    min-width: 200px;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: 1px lightgrey solid;
}

.allbills {
    display: flex;
    flex-direction: column;

}
.description {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    width: 80px;
    margin-top: 10px;
}
.description:hover {
    text-decoration: underline;
}
.date {
    margin-right: 10px;
    color: grey;
    width: 100px;
    display: flex;
}

.delete {
    font-size: 24px;
    height: 18px;
    color: #CC4456; 
}
.delete:hover {
    text-decoration: underline;
}

.billshow {
    display: flex;
    align-items: flex-start;

}
.lefttwo {
    display: flex;
}
.billflex {
display: flex;
flex-direction: row;
font-size: 13px;
font-weight: lighter;
}
.balance {
    font-size: 12px;
    width: 100px;
    color: rgb(68, 67, 67);
    line-height: 15px;
}

.positive {
   
    color: #5bc5a7;
    font-weight: bold;
    font-size: 16px;
}
.negative {
   
    color: #ff652f;
    font-weight: bold;
    font-size: 16px;
}

.Uncategorized {
     background: image_url('general.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.Home {
     background: image_url('mortgage.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.Life {
     background: image_url('music.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.Utilities {
     background: image_url('electricity.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.Transportation {
     background: image_url('taxi.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.Food.and.Drink {
    background: image_url('dining-out.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    z-index: 2;  
}