.eachbill {
    max-width: 520px;
    min-width: 200px;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: 1px lightgrey solid;
}

.allbills {
    display: flex;
    flex-direction: column;

}
.description {
    padding-right: 15px;
    width: 80px;
}
.description:hover {
    text-decoration: underline;
}
.date {
    margin-right: 50px;
    color: grey;
}

.delete {
    font-size: 24px;
    height: 18px;
    color: #CC4456; 
}
.delete:hover {
    text-decoration: underline;
}

.billshow {
    display: flex;
    align-items: flex-start;

}
.lefttwo {
    display: flex;
}
.billflex {
display: flex;
flex-direction: row;
font-size: 13px;
font-weight: lighter;
}
.balance {
    font-size: 12px;
    width: 100px;
    color: rgb(68, 67, 67);
    line-height: 15px;
}

.positive {
   
    color: #5bc5a7;
    font-weight: bold;
    font-size: 16px;
}
.negative {
   
    color: #ff652f;
    font-weight: bold;
    font-size: 16px;
}