.eachbill {
    margin: 10px;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    display: flex;

}

.allbills {
    display: flex;
    flex-direction: column;
}
.balance {
    margin-left: 50px;
     padding-top: 5px;
}
.description {
    margin-left: 50px;
    padding-top: 5px;
}
.date {
    margin-left: 20px;
    padding-top: 5px;
}

.delete {
    font-size: 24px;
    height: 18px;
   margin-left: 10px;
    color: #CC4456;
   
}
.delete:hover {
    text-decoration: underline;
}
