 .dashboard-heading {
    font-family: 'Lora', serif;
    letter-spacing: 6px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
 }
 .dashboard-header {
    justify-content: space-evenly;
     display: flex; 
     height: 33px;
     background-color: #5BC5A7;
     color: white;
     position: fixed;
     width: 100%;
    z-index: 20;
    border-bottom: 1px #5BC5A7 solid;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 2px 4px rgba(0,0,0,.33);
   }
 .logout {
    position: fixed;
    right: 130px;
    top: 40px;
    border: 1px rgba(143, 143, 143, 0.575) solid;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px lightgrey;
    font-size: 15px;
    cursor: pointer;
    color: grey;
 }
 .comingsoon {
    margin: 10px;
    color: rgba(99, 197, 201, 0.836);
 }


 
 .username {
    padding-top: 0;
    margin-top: 0;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    background-color: #5BC5A7;
    height: 33px;
    margin-left: 3px;
 }
.username:hover {
   background-color: #43BA98;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-nav {
    margin-top: 28px;
   border: .5px lightgrey solid;
   height: 1000px;
   width: 558px;
   box-shadow: inset 0 .3px 0 rgba(255,255,255,.25), 0 8px 8px rgba(124, 124, 124, 0.8);

}
.left-nav {

   height: 1000px;
   width: 13%;
   margin-right: 5px;
   min-width: 200px;
   margin-top: 35px;
}
.right-nav {
   margin-top: 35px;
   height: 1000px;
   width: 13%;
    min-width: 200px;
}
.main-nav-img {
    background: image_url('db.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
   z-index: 2;
   border-left: 0px;
   margin: 30px;
   border-left: 0px white solid;

}
.headimg{
   background: image_url('headimg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    z-index: 2;
    margin-top: 5px;
    margin-right: 5px;
    border: .5px lightgrey solid;
    border-radius: 9px;
    padding: 10px;

}
.dashheaderflex {
   display: flex;
   flex-direction: row;
}
.profimg {
    background: image_url('headimg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    z-index: 2;
    margin-right: 10px;
    border: .5px lightgrey solid;
    border-radius: 100px;
    
}

.dashheader {
   width: 100%;
   height: 112px;
   background-color: #EEEEEE;
   position: relative;
      border: .5px lightgrey solid;


}
.usernameimg {
   display: flex;

}
.usernameimg:hover {
   background-color: #43BA98;
}
.dashboardtitle {
   position: absolute;
   top: 17px;
   left: 15px;
   font-size: 24px;
   color: #333;
   font-weight: 600;

}

.dashtop {
   width: 100%;
   height: 64px;
   border-top: 0;
   border-bottom: 1px lightgrey solid;
   display: flex;
   justify-content: flex-end;
   min-width: 400px;

}

.dash-button{
    border: 1px grey solid;
    background-color: #ff652f;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    height: 31px;
    font-weight: bold;
   padding: 0 10px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #c83400;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.dash-button:hover {
    background-color: #EB3D00;
}
.dashbuttons {
   margin-top: 16px;
}
.dash-settle-button{
    font-weight: bold;
    border: 1px grey solid;
    background-color: #5BC5A7;
      margin-left: 10px;
      margin-right: 10px;
    color: white;
    height: 100px;
    font-size: 14px;
      padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #318970;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

}
.dash-settle-button:hover {
   background-color: rgb(184, 183, 183);
   cursor: not-allowed;
}

.logout {
   position: fixed;
   width: 150px;
   height: 30px;
   top: 28px;
   right: 300px;
   font-size: 14px;
   text-align: center;
   color: #333;
   box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.33);
}
.logout:hover {
    background-color: #43BA98;
    color: white;
}



.invitenav {
   border: 1px lightgrey solid;
   margin-right: 15px;
   margin-top: 15px;
   display: flex;
   flex-direction: column;

}
.invitefriends {
    background: #5bc5a7;
    color: #fff;
    border: 1px solid #39a385;
    font-weight: bold;
    font-size: 13px;
    padding: 3px 5px;
    text-shadow: 0 -1px 0 #3eaf8f;
}
.emailadd {
   border: 1px lightgrey solid;
   margin: 10px;
   padding: 6px 0;
   font-size: 14px;
   background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding-left: 3px;
    font-size: 12px;
    object-fit: contain;

}

.submitemail {
   margin: 0 60px 10px 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0,0,0,0.05);
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
      font-size: 12px;
    padding: 3px;
    background: #eee;
   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);


}
.dashbottom {
   height: 48px;
   display: flex;
   justify-content: space-evenly;
}

.flexowed {
   display: flex;
   flex-direction: column;
   font-size: 14px;
   margin: 0;
   padding: 0px;
   text-align: center;
}

.titleowe {
   font-size: 13px;
   color: rgb(105, 104, 104);
   padding-top: 4px;
}
.ioweyou {
   color: #ff652f;
   font-weight: bold;
}
.youoweme {
   color: #5bc5a7;
   font-weight: bold;
}