.friends {
    margin-left: 5px;
    background: #f6f6f6;
    color: rgba(92, 90, 90, 0.384);
    font-size: 11px;
    margin-top: 15px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    padding: 3px 10px;
    font-weight: bold;
    margin-right: 15px;
}

.eachfriend {
    color: grey;
    display: flex;
    height: 19px;
    font-size: 14px;
    padding: 3px 8px 2px 8px;
    text-decoration: none;
    border-left: 6px solid #fff;
    height: 20px;
    margin-bottom: 7px;
    cursor: pointer;
    width: 172px;

}
.eachfriend:hover {
    background: #eee;
}

.userimg {
    background: image_url('user.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    z-index: 2;
    margin-right: 6px;
}
.left-nav {
    padding-top: 20px;
}

.dashlink {
    border-left: 6px solid #5bc5a7;
    color: #5bc5a7;
    font-weight: bold;
    display: flex;
    height: 25px;
    width: 140px;
    padding-top: 2px;
}
.dashlink:hover {
    background: #eee;
    
}

.logoimg2 {
    background: image_url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 17px;
    margin-right: 3px;
    margin-left: 5px;
}