.friends {
    margin-left: 5px;
    background: #f6f6f6;
    color: rgba(92, 90, 90, 0.384);
    font-size: 11px;
    margin-top: 15px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    padding: 3px 10px;
    font-weight: bold;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

.eachfriend {
    color: grey;
    display: flex;
    height: 19px;
    font-size: 14px;
    padding: 3px 8px 2px 8px;
    text-decoration: none;
    border-left: 6px solid #fff;
    height: 24px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 172px;
    display: flex;
    justify-content: space-between;
 

}
.eachfriend:hover {
    background: #eee;
}
.eachflex {
    display: flex;
}

.userimg {
    background: image_url('user.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    z-index: 2;
    margin-right: 6px;
}
.left-nav {
    padding-top: 20px;
}

.dashlink {
    border-left: 6px solid #5bc5a7;
    color: #5bc5a7;
    font-weight: bold;
    display: flex;
    height: 25px;
    width: 140px;
    padding-top: 2px;
}
.dashlink:hover {
    background: #eee;
    
}

.logoimg2 {
    background: image_url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 17px;
    margin-right: 3px;
    margin-left: 5px;
}

.add-friend-button:hover {
    color: #5bc5a7;
}

.addfriendformdiv {
    background: white;
    position: fixed;
    top: 20%;
    padding: 30px;
    right: 30%;
    height: 300px;
    width: 560px;
    border: 1px grey solid;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3)
}
.tolabel {
    border: 1px lightgrey solid;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}

.addfriendh1 {

    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333;
    display: flex;
    justify-content: space-between;
}

.xcolor {
    color: lightgrey;
}
.divflexfriends {
    display: flex;
}
.xcolor:hover {
    text-decoration: underline;
}
.friendform {
    display: flex;
    flex-direction: column;
}

.logoaddfriend {
        background: image_url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 20px;

   z-index: 2;
   border-left: 0px;
}

.addfriendtextaarea {
    background: white;
     border: 1px grey solid;
}
.addfriendsubmit {
    background: #ff652f;
    color: #fff;
    text-shadow: 0 -1px 0 #c83400;
    padding: 9px 14px;
    width: 120px;
    height: 42px;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 18px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.addfriendsubmit:hover {
    background: #EB3D00;
}

.addafriendh1 {
    padding-bottom: 0;
    margin-bottom: 0;
}
.accept {
    background: #ff652f;
    color: white;
    padding: 2px;
    border: 1px white solid;
    border-radius: 5px;
    font-size: 11px;

}
.accept:hover {
    background: #EB3D00;
}